.custom-modal .ant-modal-content{
	background-color: #321;
}

.custom-modal .ant-modal-header,
.custom-modal .ant-modal-footer{

	background-color: #321;
}
.custom-modal .ant-modal-content{
	background-color: #321;
}

.custom-modal .ant-modal-body{

	background-color: #321;
}